*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.site-header{
    position: fixed;
    top: 0;
    left: 5vh;
    width: 90%;
    height: 9%;
    z-index: 1000;
    background: #000000;
    border-bottom: 1px solid #e5e5e5
}

body {
    background: black;
    color: white;
}

#home{
    width: 100%;
    height: 100vh;

    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 5%;
}

nav{
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav {
    display: inline-block;
    list-style: none;
    margin: 25px 0px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    margin-left: 30px;
}

nav a::after{
    content: '';
    width: 0%; /* initially hidden as cursor is not hovering over*/
    height: 3px;
    background: #00b4fa;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav a:hover::after{
    width: 100% /* cursor hover so it appears */
}

.header-text h1{
    text-align: center;
    margin-top: 20px;
    font-size: 80px;
}

.header-text h1 span{
    color: #00b4fa;
    font-style: oblique;
}

.header-text{
    text-align: center;
    margin-top: 20%;
    font-size: 30px;
}

#about{
    padding: 80px 0;
    color: white ;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.about-col-1{
    flex-basis: 50%;
}

.about-col-1 p{
    font-size: 18px;
    width: 100%;
}

.about-col-2{
    flex-basis: 50%;
    height: 100%;
    width: 100%;
    transform: translate(0%, 0%);
}

.box{
    border-radius: 28px;
    border: 3px solid white;
    
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 6%;
    padding-bottom: 14%;

    margin: auto;
    
    width: 150px;
    height: 150px;

    text-align: center;
    font-size: 10px;

}

.boxRow{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* column 1 */
.skill-col-1{
    flex-basis: 20%;
    height: 80%;
    width: 100%;

    margin: 0;
    position: relative;

    top: 50%;
    left: 15%;
    transform: translate(0%, +25%);

}

#cppBoxImage{

    background-image: url("images/logos/cppLogo.png");
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;

    height: 100%;
    width: 88%;

    display: block;
    margin: auto;
}
#cssBoxImage{
    background-image: url("images/logos/cssLogo.png");
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;

    height: 100%;
    width: 88%;
    
    display: block;
    margin: auto;
}

/* column 2 */lo
.skill-col-2{
    flex-basis: 20%;
    position: relative;
    height: 80%;
    width: 100%;
}

#pythonBoxImage{ 
    background-image: url("images/logos/pythonLogo.png");
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;

    height: 100%;
    width: 100%;
    
    display: block;
    margin: auto;

}
#pygameBoxImage{
    background-image: url("images/logos/pygameLogo.png");
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;

    height: 100%;
    width: 90%;
    
    display: block;
    margin: auto;

}
#htmlBoxImage{
    background-image: url("images/logos/htmlLogo.png");
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;

    height: 100%;
    width: 100%;
    
    display: block;
    margin: auto;
}

/* column 3 */
.skill-col-3{
    flex-basis: 20%;
    height: 80%;
    width: 100%;

    margin: 0;
    position: relative;

    top: 50%;
    left: -15%;
    transform: translate(0%, +25%);

}

#luauBoxImage{
    background-image: url("images/logos/luauLogo.png");
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;

    height: 100%;
    width: 100%;
    
    display: block;
    margin: auto;

}
#jsBoxImage{
    background-image: url("images/logos/jsLogo.png");
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
    
    height: 100%;
    width: 100%;

    display: block;
    margin: auto;
}

.section-title{
    font-size: 60px;
    font-weight: 400;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-titles p{
    font-size: 20px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00b4fa;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 30%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
}

.tab-contents ul li span{
    color: #00b4fa;
    font-size: 15px;
}

.tab-contents{
    margin-top: 0px;
    display: none;
    width: 95%;
    position: relative;
    left: 0%;
}

.tab-contents.active-tab{
    display: block;
}

.project-row{
    border: 1px solid yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-col-1{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50vh;
    border: 1px solid yellow;
    flex-basis: 30%;
}
#baseConverterImage{
    background-image: url("images/projects/baseConverter.png");
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;

    height: 40%;
    width: 100%;
    display: block;
    margin: auto;
}

/* Second column: text */
.project-col-2{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid yellow;
    flex-basis: 60%;
}
.project-col-2 h1{
    text-align: left;
    position: relative;
    left: 1%;
    font-size: 40px;
    color: white;
    margin-bottom: 5px;
}
.project-col-2 p{
    font-size: 18px;
    width: 92%;
    position: relative;
    left: 4%;
}